
<ActionBar title="My App" class="action-bar">
</ActionBar>

<ListView [items]="myItems" (loadMoreItems)="loadMoreItems()" class="display">
    <ng-template let-item="item" lelet-i="index">
        <StackLayout>
        <label [text]="item"></label>
        <Label [text]="item.title"  class="fontstyle"></Label>
        <image [src]= "item.url" class="imgstyle"></image>
        </StackLayout>
    </ng-template>
</ListView>
<ActivityIndicator row="1" #activityIndicator [busy]="isBusy" width="100" height="100" class="activity-indicator"></ActivityIndicator>
